html{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2.849pt;
    font-family: sans-serif;
    background-color: gray;
}
@media print{
    html{
        font-size: 1mm;
    }

    .hide-on-print{
        display: none;
    }
}
body{
    /*border: .1px solid transparent;*/
    padding: 0;
    margin: 0;
}

.hide{
    display: none;
}

.page{
    font-size: 2.849pt;
    margin: 0 auto;
    /*padding: 5em 4.5em;*/
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    align-content: flex-start;
}
@media print{
    .page{
        font-size: 1mm;
    }

}
.pg-wrapper{
        page-break-after:always;
    }
.page_a4_landscape{
    /*min-height: 210em;*/
    width: 296em;
}
.page_a4_portrait{
    /*min-height: 296em;*/
    width: 210em;
}

.card{
    box-sizing: border-box;
    display: block;
    /*outline:.25em dashed lightgray;*/
    border: 1em solid black;
    /*line-height: 1.042em;   */
    padding: 3em;
}

.card__icon{
    margin: 0 auto;
    box-sizing: border-box;
    width: 24.5em;
    height: 24.5em;
}



.card_a7_portrait{
    height: 104.5em;
    width: 74em;
}
.card_a7_landscape{
    width: 105em;
    height: 74.2em;
}

.card_a8_portrait{
    height: 74em;
    width: 52.5em;
}
.card_a8_landscape{
    width: 74em;
    height: 52.5em;
}

.card_a9_portrait{
    height: 52.25em;
    width: 37em;
}
.card_a9_landscape{
    width: 52.5em;
    height: 37.1em;
}
.card_a9_landscape .card__icon{
    width: 21em;
    height: 21em;
}
/*.card_a9_portrait .card__icon{*/
/*    width: 24.5em;*/
/*    height: 24.5em;*/
/*}*/
.card_a9_landscape .card__header,
.card_a9_portrait .card__header{
    font-size: 4em;
}
.card_a9_landscape .card__header{
    height: 2em;
}

.card_a10_portrait{
    height: 37.13em;
    width: 26.25em;
}
.card_a10_landscape{
    width: 37em;
    height: 26.13em;
}
.card_a10_landscape .card__icon,
.card_a10_portrait .card__icon{
    width: 12em;
    height: 12em;
}
.card_a10_landscape .card__icon{
    margin: 0;
}
.card_a10_landscape .card__header,
.card_a10_portrait .card__header{
    /*display: none;*/
    font-size: 3em;
    height: 6rem;
}


.card__icon:empty{
    border: 2em solid black;
    border-radius: 1em;
}

.card__icon-image{
    width: 100%;
    height: 100%;
}


.card__header{
    height: 12.5rem;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-size: 4em;
    line-height: 1em;
    padding-bottom: .063em
}
