<html lang="ru" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="css/main.css" media="screen,print" title="no title" charset="utf-8">
</head>
<body ng-app="BlankApp" ng-cloak layout1="column" ng-controller="AppController"  id="content">

        <md-toolbar layout="row" class="md-whiteframe-z1 hide-on-print">
            <div class="md-toolbar-tools">
                <md-button id="main" class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                </md-button>
                <md-icon md-svg-icon="menu" ></md-icon>
                <h3>Cинергия IT 2016: Карточки / {{cardFormat | uppercase}}</h3>

                <span flex></span>
                <md-menu>
                    <md-button  ng-click="$mdOpenMenu($event)">Формат</md-button>
                    <md-menu-content  width="4">
                        <md-menu-item ng-repeat="format in formats">
                            <a href="#{{format.id}}" ng-click="$mdCloseMenu($event)" class="md-button" ng-class="{'md-primary': cardClass === format.id}">
                                <div layout="row" flex>
                                    <p flex>
                                        {{format.title}}
                                    </p>
                                    <md-icon md-menu-align-target md-svg-icon="orient:landscape" ng-if="isLandscape(format.id)"></md-icon>
                                    <md-icon md-menu-align-target md-svg-icon="orient:portrait" ng-if="isPortrait(format.id)"></md-icon>
                                </div>
                            </a>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>


        <section class="page {{pageClass}}" ng-repeat="page in cardPages">
            <section class="card {{cardClass}}" ng-repeat="card in page">
                <header class="card__header">{{card.title}}</header>
                <div class="card__icon">
                    <img ng-src="{{card.src}}" class="card__icon-image" alt=""/>
                </div>
            </section>
        </section>

      </div>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="js/app.ng.js"></script>
  <script type="text/javascript" src="js/cards.ng.js"></script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
